{% load staticfiles %}
{% load notification_tags %}
<header id="top-section">
    <div class="container">
        <div class="col-sm-4 hidden-xs address">
            <div class="pull-left">
                <ul>
                    <li><i class="fa fa-phone"></i> +91 7990712559</li>
                    <li><i class="fa fa-envelope-o"></i> inspire@startinspire.com</li>
                </ul>
            </div>
            <!-- pull left  -->
        </div>
        <!-- /.address -->

        <div class="col-sm-4 col-xs-12">
            <div class="logo text-center">
                <a href="{% url 'darshan:home' %}"> <img src="{% static 'images/logo-08.png' %}" alt="Peace"/> </a>
            </div>
            <!-- /.logo -->
        </div>
        <!-- col sm 4 -->

        <div class="social-search pull-right hidden-xs">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i><span></span></a>
                </li>
                <li><a href="#"><i class="fa fa-twitter"></i><span></span></a>
                </li>
                <li><a href="#"><i class="fa fa-google-plus"></i><span></span></a>
                </li>
                <li><a href="#"><i class="fa fa-pinterest"></i><span></span></a>
                </li>
            </ul>

            <div id="site-search">
                <a href="#"><i class="fa fa-search"></i></a>
                <form class="search-form" action="#" method="get">
                    <input type="text" name="s" id="topSearchField" class="form-control" value=""
                           placeholder="Type &amp; Hit Enter...">
                    <i class="fa fa-close"></i>
                </form>
            </div>
            <!--   site search  -->
            <div id="notifications" style="float: right;padding-right: 60px;color:lightgrey;">
                <a href="{% url 'notifications:all' %}">
                    <i class="fa fa-bell" aria-hidden="true" style="color: #949391"></i><span>{% if user|notifications_unread > 0 %}
                    {{ user|notifications_unread }}
                {% else %}0{% endif %}</span>
                </a>
            </div>


            <div id="top-cart">

                {% if user.is_authenticated  and not user.is_superuser and not user.templemanager.is_manager and not user.shopkeeper.is_shopkeeper %}

                    <a href="{% url 'cart:view_cart' %}" id="top-cart-trigger" class="hd-icons">
                        <i class="fa fa-shopping-cart"></i><span>{% if total_items > 0 %}{{ total_items }}{% else %}
                        0{% endif %}</span>
                    </a>

                    {#                <div class="top-cart-content">#}
                    {#                    <div class="top-cart-title">#}
                    {#                        <h4>Shopping Cart</h4>#}
                    {#                    </div>#}
                    {#                    <!-- top cart  -->#}
                    {##}
                    {#                    <div class="top-cart-items">#}
                    {#                       {% if total_items > 0 %}#}
                    {#                        <div >You have {{ total_items }} items in the cart.</div>#}
                    {#                       {% else %}#}
                    {#                        <div class="empty">No products in the cart.</div>#}
                    {#                        {% endif %}#}
                    {#                    </div>#}
                    {#                    <!-- top cart item -->#}
                    {#                </div>#}
                    <!-- top cart content -->
                {% elif not user.is_authenticated and not user.is_superuser %}
                    <a href="{% url 'cart:cart_detail' %}" id="top-cart-trigger" class="hd-icons">
                        <i class="fa fa-shopping-cart"></i>
                        <span>{% with total_items=cart|length %}{% if cart|length > 0 %}{{ total_items }}{% else %}0
                        {% endif %}{% endwith %}</span>
                    </a>

                    {#                <div class="top-cart-content">#}
                    {#                    <div class="top-cart-title">#}
                    {#                        <h4>Shopping Cart</h4>#}
                    {#                    </div>#}
                    {#                    <!-- top cart  -->#}
                    {##}
                    {#                    <div class="top-cart-items">#}
                    {#                       {% if total_items > 0 %}#}
                    {#                        <div>You have {{ total_items }} items in the cart.</div>#}
                    {#                       {% else %}#}
                    {#                        <div class="empty">No products in the cart.</div>#}
                    {#                        {% endif %}#}
                    {#                    </div>#}
                    {#                    <!-- top cart item -->#}
                    {#                </div>#}
                {% endif %}
            </div>
            <!--  top cart  -->
        </div>
        <!-- social search  -->
    </div>
    <!-- menu slider start -->
    <div class="menu-slider">
        <nav id="peace-menu">
            <div class="container">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#responsive-icon" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- end navbar head -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="responsive-icon">
                    <div class="menu-menu-1-container">
                        <ul class="nav navbar-nav text-center nav navbar-nav text-center">
                            <li class="active">
                                <a title="Home" href="{% url 'darshan:home' %}">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a title="Sermons" href="{% url 'darshan:alldarshan' %}">
                                    Darshan
                                </a>
                            </li>
                            {% if user.is_authenticated  and not user.is_superuser and not user.templemanager.is_manager and not user.shopkeeper.is_shopkeeper or not user.is_authenticated %}
                                <li>
                                    <a title="Shop" href="{% url 'shop:allproducts' %}">
                                        Shop
                                    </a>
                                </li>
                            {% endif %}
                            <li class="dropdown">
                                <a title="Gallery" href="#" data-toggle="dropdown"
                                   class="dropdown-toggle" aria-haspopup="true">Gallery
                                    <i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class=" dropdown-menu">
                                    <li><a title="Gallery 2 Columns" href="{% url 'darshan:temple_gallery_2col' %}">Gallery 2
                                        Columns</a>
                                    </li>
                                    <li><a title="Gallery Default" href="{% url 'darshan:temple_gallery_default' %}">Gallery Default</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a title="Events" href="#" data-toggle="dropdown"
                                   class="dropdown-toggle" aria-haspopup="true">Events <i
                                        class="fa fa-angle-down"></i></a>
                                <ul role="menu" class=" dropdown-menu">
                                    <li><a title="Event Defaults" href="#">Event Single</a>
                                    </li>
                                    <li><a title="Event Defaults" href="#">Event Two Column</a>
                                    </li>
                                    <li><a title="Event Defaults" href="#">Event Three
                                        Column</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a title="Causes" href="#" data-toggle="dropdown"
                                   class="dropdown-toggle" aria-haspopup="true">Causes <i
                                        class="fa fa-angle-down"></i></a>
                                <ul role="menu" class=" dropdown-menu">
                                    <li><a title="Causes 2 Col" href="#">Causes single</a>
                                    </li>
                                    <li><a title="Causes 3 Col" href="#">Causes 2 Col</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a title="News/Blog" href="#" data-toggle="dropdown"
                                   class="dropdown-toggle" aria-haspopup="true">News/Blog <i
                                        class="fa fa-angle-down"></i></a>
                                <ul role="menu" class=" dropdown-menu">
                                    <li><a title="Blog Default" href="#">Blog Default</a>
                                    </li>
                                    <li><a title="Blog 2 Columns" href="#">Blog 2 Columns</a>
                                    </li>
                                </ul>
                            </li>
                            {% if user.is_authenticated %}
                                {% if user.shopkeeper.is_shopkeeper %}
                                    <li class="dropdown">
                                        <a title="profile" href="{% url 'shop:seller_profile' %}">Profile</a>
                                    </li>
                                {% endif %}
                                {% if user.templemanager.is_manager %}
                                    <li>
                                        <a href="{% url 'darshan:manager_profile' %}">
                                            Profile</a>
                                    </li>
                                {% endif %}
                                {% if not user.is_superuser and not user.templemanager.is_manager and not user.shopkeeper.is_shopkeeper %}
                                    <li class="dropdown">
                                        <a href="{% url 'darshan:user_profile' %}">
                                            Profile
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="dropdown"><a title="logout" href="{% url 'accountregistrations:logout' %}">logout</a>
                                </li>
                            {% else %}
                                <li>
                                    <a title="Register" href="{% url 'accountregistrations:Login' %}">
                                        Register
                                    </a>
                                </li>
                            {% endif %}
                            <li class="button-skew"><a class="donate-button" href="#"><span> Donate Now <i
                                    class="fa fa-heart"></i></span></a>
                            </li>
                        </ul>
                    </div>
                    <!-- end menu-1-container -->
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- end container -->
        </nav>
        <!-- /#peace-menu -->
    </div>
    <!-- /.menu-slider -->
</header>