{% extends "accountregistrations/newbase.html" %}
{% load i18n %}
{% load notification_tags %}
{% block title %}{% trans "Notifications" %}{% endblock %}
{% block content2 %}
    <div id="peace-layout">
        {% include 'accountregistrations/header.html' %}
        <div class="container">
            <br>
            <div class='row'>
                <div class="col-md-12 mark_button">
                    <form method='post' role='form' action="{% url 'notifications:mark_all' %}"
                          style="text-align:center;">
                        {% csrf_token %}
                        <button class="btn" type='submit' class="mark-all-notifications" name='action'
                                style="color: #FFF;background: #F1C152;border-color: #CCA242;width: auto;font-size: 13px;border-radius: 3px;text-transform: uppercase;font-weight: bold;"
                                value="read">{% trans "Mark all as read" %}</button>
                        <button class="btn" type='submit' class="mark-all-notifications" name='action'
                                style="color: #FFF;background: #F1C152;border-color: #CCA242;width: auto;font-size: 13px;border-radius: 3px;text-transform: uppercase;font-weight: bold;"
                                value='unread'>{% trans "Mark all as unread" %}</button>
                    </form>
                </div>
                <div class=col-md-12>

                    <ul class="notifications list-group" style="margin-top: 20px;">
                        {% if notifications %}
                            {% render_notifications using notifications %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
