{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}
{% load temple_extra %}
{% block title %}
    Your Shopping Cart
{% endblock %}
{% block content2 %}
    <div id="peace-layout">
        {% include 'accountregistrations/header.html' %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <h2>Your Shopping Cart</h2>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Remove</th>
                        <th>Unit Price</th>
                        <th>Price</th>
                    </tr>


                    <!-- for unauthenticated user-->
                    {% for item in cart %}

                        {% with product=item.product_id %}

                            {% for x in product|products1 %}

                                <tr>
                                    <td>
                                        <a href="#">
                                            <img {% if x.Photo %} src="{{ x.Photo.url }}" {% else %}
                                                                  alt="{{ x.Product_Name }}" {% endif %}
                                                                  style="max-width: 350px !important;">
                                        </a>

                                    </td>
                                    <td>{{ x.Product_Name }}</td>
                                    <td>

                                        <form action="{% url 'cart:cart_add' x.id %}" method="post">

                                            <select name="quantity" id="id_quantity">
                                                <option value="1" selected>1</option>
                                                {% for x in loop_times %}
                                                    <option value={{ x }}>{{ x }}</option>
                                                {% endfor %}
                                            </select>
                                            <input type="submit" name="update" value="Update" id="id_update"
                                                   style="margin-left:10px;" class="btn btn-primary"/>
                                            {% csrf_token %}

                                        </form>
                                    </td>
                                    <td><a href="{% url 'cart:cart_remove' x.id %}" class="btn" style="color: #FFF;
    background: #F1C152;
    border-color: #CCA242;">Remove</a></td>
                                    <td class="num">&#8377;{{ item.price }}</td>
                                    <td class="num">&#8377;{{ item.total_price }}</td>
                                </tr>
                            {% endfor %}
                        {% endwith %}
                    {% endfor %}
                    </thead>
                </table>
            </div>

            <p align="center">
                <a href="{% url 'shop:allproducts' %}">
                    <button class="fa fa-shopping btn btn-primary" >Continue Shopping</button>
                </a>
                <br>
                <a href="{% url 'accountregistrations:Login' %}">
                    Login
                </a>
                /<a href="{% url 'accountregistrations:Login' %}" >
                    SignUp
                </a> as a <strong style="color:red">User</strong> to Buy


            </p>
        </div>
    </div>
{% endblock %}