{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}

{% block title %}
    Oops
{% endblock %}

{% block content2 %}
    <div id="peace-layout">
        {% include 'accountregistrations/header.html' %}
        <div class="container" style="margin-top: 15px;">
            <div class="row">
                <div class="col-md-12" align="center">
                    <h1>Oopps</h1>
                    <p>Your payment has Failed.Try Again</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
{% endblock %}