{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}

{% block title %}
    Thank You
{% endblock %}

{% block content2 %}
    <div id="peace-layout">
        {% include 'accountregistrations/header.html' %}
            <h1>Thank You</h1>
            <br>
            <p>Your transaction is successfully completed.</p>
    </div>
    <br>
    <br>
{% endblock %}