{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}
{% block content2 %}
    <div id="peace-layout">
        {% include 'accountregistrations/header.html' %}
        <div class="container" style="margin-top: 15px">
            <div class="row">
                <div class="col-md-12" align="center">
                     <h1> Checkout</h1>
                </div>
            </div>

        </div>
        <form action="{{ action }}" name="payuForm" method="post">
            {% csrf_token %}
            <input type="hidden" name="key" value="{{ key }}"/>
            <input type="hidden" name="hash" value="{{ hash }}"/>
            <input type="hidden" name="txnid" value="{{ txnid }}"/>
            <input type="hidden" name="amount" value="{{ amount }}"/>
            {% if email %}
                <input type="hidden" name="email" value="{{ email }}"/>
            {% endif %}
            <input type="hidden" name="firstname" value="{{ firstname }}"/>
            {% if phone %}
                <input type="hidden" name="phone" value="{{ phone }}"/>
            {% endif %}
            <input type="hidden" name="productinfo" value="{{ productinfo }}"/>
            <input type="hidden" name="surl" value="{{ surl }}"/>
            <input type="hidden" name="furl" value="{{ furl }}"/>
            <input type="hidden" name="service_provider" value="{{ service_provider }}"/>

            <div class="form-group">
                <div class="col-md-12 col-sm-12">
                    <strong>Amount: </strong>  {{ amount }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 col-sm-12">
                    <strong>Purpose: </strong> {{ productinfo }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 col-sm-12">
                    <strong>Name: </strong> {{ firstname }}
                </div>
            </div>
            {% if email %}
                <div class="form-group">
                    <div class="col-md-12 col-sm-12">
                        <strong>Email: </strong>{{ email }}
                    </div>
                </div>
            {% endif %}
            {% if phone and phone != '0' %}
                <div class="form-group">
                    <div class="col-md-12 col-sm-12">
                        <strong>Mobile: </strong>{{ phone }}
                    </div>
                </div>
            {% endif %}
            <div class="form-group">
                <div class="col-md-12 col-sm-12">
                    <strong>Transaction ID:</strong>{{ txnid }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 col-sm-12" style="padding-bottom:20px;padding-top:20px;">
                    <strong>
                        After clicking 'Pay Now' button, you will be redirected to PayUMoney Secure Gateway.
                    </strong>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 col-sm-12" align="center">
                    <input type="submit" class="btn btn-success btn-sm" value="Pay Now">
                </div>
            </div>
        </form>
    </div>
    <br>
    <br>
{% endblock %}
