{% extends 'accountregistrations/newbase.html' %}
{% load crispy_forms_tags %}
{% block content2 %}
    <style>
        form #inputButton {
            float: unset !important;
        }

        input {
            float: right !important;
        }

        input[type=text] {
            width: 42%;
        }

        input[type=url] {
            width: 42%;
        }

        input[type=email] {
            width: 42%;
        }

        input[type=file] {
            width: 42%;
        }

        input[type="checkbox"] {
            margin-right: 10px;
            float: unset !important;
        }

        input[type=time] {
            width: 42%;
        }

        input[type=number] {
            width: 42%;
        }

        input[type=password] {
            width: 42%;
        }

        .select2-container--default {
            width: 50% !important;
        }

        .select2-search__field {
            width: 375px !important;
        }

        textarea {
            float: right;
        }

        #id_Temple_Name {
            float: right;
        }

    </style>
{#    <script src="https://code.jquery.com/jquery-2.2.4.min.js"#}
{#            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="#}
{#            crossorigin="anonymous"></script>#}
{#    <script type="text/javascript">#}
{#        $(window).load(function () {#}
{#            $('#errors').modal('show');#}
{#        });#}
{#    </script>#}
{#    {% include 'darshan/error_message.html' %}#}
    <div id="peace-layout">
        {% include 'accountregistrations/header.html' %}
        <div class="container" style="margin-top: 15px">
            <div class="row">
                <div class="col-md-12">
                    <h2 align="center">Darshan Form</h2>
                    <br>
                    <form method="Post" role="form" enctype="multipart/form-data">
                        {% for field in dar_add_form %}
                            <p>
                                <label for="{{ field.auto_id }}">{{ field.label_tag }}
                                    {% if field.field.required %}
                                        <span class="required" style="color: red;">*</span>
                                    {% endif %}
                                </label>

                                {{ field }}

                            </p>
                            {% if field.errors %}
                                <div class="alert alert-danger">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                            <br>
                        {% endfor %}
                        {% csrf_token %}
                        <p align="center">
                            <button type="submit" value="Save" class="btn btn-primary"
                                    style="width: 100px; background-color: #f1c152;">
                                Save
                            </button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <style>
        .wmd-input {
            height: auto;
        }

        .wmd-preview {
            height: auto;
        }
    </style>
{% endblock %}