{% if messages %}
        <div class="modal" id="errors" style="display: flex !important;">
            <div class="modal-dialog">
                <div class="v-cell">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span
                                    aria-hidden="true">&times;</span><span
                                    class="sr-only">Close</span></button>
                            <h4 class="modal-title" style="color: red;text-align: center;font-weight: 600;font-size: 20px;
                                font-family: sans-serif;">Message</h4>
                        </div>

                        <div class="modal-body">
                            <div class="messages" style="text-align: left;margin-bottom: 0px;">
                                {% for message in messages %}
                                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endif %}