<!-- Modal -->
  <div class="modal fade" id="{{var}}" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="color: red;text-align: center;font-weight: 600;font-size: 40px;
          font-family: sans-serif;">Warning</h4>
        </div>
        <div class="modal-body">
          <p>Do you want to delete it???</p>
        </div>
        <div class="modal-footer">
         <a href="{% url 'darshan:delete' value=x %}"><button type="button" class="btn btn-default" style="color: black;">Yes</button></a>
         <button type="button" class="btn btn-default" data-dismiss="modal" style="color: black;"> No </button>
        </div>
      </div>
      
    </div>
  </div> 