{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}
{% block content2 %}
    <!-- peace layout start. -->
    <div id="peace-layout">
        <!-- /.container -->
        {% include 'accountregistrations/header.html' %}
        <!--  /# top section  -->
        <!-- MasterSlider -->
        <div id="P_MS562c5f7f2df7d" class="master-slider-parent ms-parent-id-1">
            <!-- MasterSlider Main -->
            <div id="MS562c5f7f2df7d" class="master-slider ms-skin-default">
                <div class="ms-slide" data-delay="1000.5" data-fill-mode="fill">
                    <img src="{% static 'images/blank.gif' %}" alt="" title=""
                         data-src='{% static 'images/09/hindu-background-2.jpg' %}'/>
                    <a href="#" target="_self"
                       class="ms-layer  msp-cn-1-42 ms-btn ms-btn-circle ms-btn-l msp-preset-btn-159"
                       data-effect="t(true,n,n,-1500,n,n,n,n,n,n,n,n,n,n,n)" data-duration="900" data-delay="2737"
                       data-ease="easeInOutBack" data-hide-effect="fade" data-hide-duration="1000"
                       data-hide-ease="easeOutQuint" data-hide-time="6787" data-type="button" data-offset-x="466"
                       data-offset-y="347" data-origin="tl" data-position="normal">
                        GET HELP NOW
                    </a>
                    <div class="ms-layer  msp-cn-3-40" style="width:650px;"
                         data-effect="t(true,n,500,n,n,n,n,n,n,n,n,n,n,n,n)" data-delay="1762" data-ease="easeOutQuint"
                         data-hide-effect="fade" data-hide-duration="1000" data-hide-ease="easeOutQuint"
                         data-hide-time="6749" data-offset-x="465" data-offset-y="279" data-origin="tl"
                         data-position="normal">
                        We are connecting temple with you. Spiritual content are basic of civilization and regilion.
                        We are trying to brize the gap between god and you.
                    </div>
                    <div class="ms-layer  msp-cn-1-39" style="" data-effect="t(true,n,500,n,n,n,n,n,n,n,n,n,n,n,n)"
                         data-duration="800" data-delay="1437" data-ease="easeInOutQuint" data-hide-effect="fade"
                         data-hide-duration="1000" data-hide-ease="easeOutQuint" data-hide-time="6574"
                         data-offset-x="206"
                         data-offset-y="-99" data-origin="mc" data-position="normal">

                    </div>
                    <div class="ms-layer  msp-cn-3-36" style="" data-effect="t(true,n,500,n,n,n,n,n,n,n,n,n,n,n,n)"
                         data-delay="1212" data-ease="easeOutQuint" data-hide-effect="fade" data-hide-duration="1000"
                         data-hide-ease="easeOutQuint" data-hide-time="6449" data-offset-x="50" data-offset-y="-149"
                         data-origin="mc" data-position="normal">

                    </div>
                </div>
                <!-- end ms slider -->


                <!-- end ms slider -->
            </div>
            <!-- END MasterSlider Main -->
        </div>
        <!-- END MasterSlider -->


        <!-- start event -->
        <section class="event">
            <div class="next-event section-padding">
                <div class="container">
                    <h2 class="section-title col-md-3">Upcoming Event</h2>

                    <div class="row">
                        <div class="event_time_countdown next-event-container">
                            <div class="col-md-6 centered">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="clock_days">
                                            <div class="bgLayer">
                                                <div class="topLayer"></div>
                                                <canvas class="canvas_days" width="110" height="110">
                                                </canvas>
                                                <div class="text">
                                                    <p class="val">0</p>
                                                    <p class="time_text">Days</p>
                                                </div>
                                                <!-- end text -->
                                            </div>
                                            <!-- end bg layer -->
                                        </div>
                                        <!-- end time -->
                                    </div>
                                    <!-- end col-sm 3 -->
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="clock_hours">
                                            <div class="bgLayer">
                                                <div class="topLayer"></div>
                                                <canvas class="canvas_hours" width="110" height="110">
                                                </canvas>
                                                <div class="text">
                                                    <p class="val">0</p>
                                                    <p class="time_text">Hours</p>
                                                </div>
                                                <!-- end text -->
                                            </div>
                                            <!-- end bg layer -->
                                        </div>
                                        <!-- end time -->
                                    </div>
                                    <!-- end col-sm 3 -->
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="clock_minutes">
                                            <div class="bgLayer">
                                                <div class="topLayer"></div>
                                                <canvas class="canvas_minutes" width="110" height="110">
                                                </canvas>
                                                <div class="text">
                                                    <p class="val">0</p>
                                                    <p class="time_text">Minutes</p>
                                                </div>
                                                <!-- end text -->
                                            </div>
                                            <!-- end bg layer -->
                                        </div>
                                        <!-- end time -->
                                    </div>
                                    <!-- end col-sm 3 -->
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="clock_seconds">
                                            <div class="bgLayer">
                                                <div class="topLayer"></div>
                                                <canvas class="canvas_seconds" width="110" height="110">
                                                </canvas>
                                                <div class="text">
                                                    <p class="val">0</p>
                                                    <p class="time_text">Seconds</p>
                                                </div>
                                                <!-- end text -->
                                            </div>
                                            <!-- end bg layer -->
                                        </div>
                                        <!-- end time -->
                                    </div>
                                    <!-- end col-sm 3 -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.event_time_countdown-->
                        </div>
                        <!-- /.next-event-container -->
                        <p class="event-btn-container col-md-2">
                            <a class="btn custom-btn" href="#">ALL EVENTS</a>
                        </p>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.next-event -->
        </section>
        <!-- end event -->

        <script>
            /**  circular countdown.
             --------------------------------------------------------------------------------------------------- */
            var findClass = jQuery('.next-event');

            if (findClass.length) {

                jQuery(document)
                    .ready(function () {
                        JBCountDown({
                            secondsColor: "#f1c152",
                            secondsGlow: "none",

                            minutesColor: "#f1c152",
                            minutesGlow: "none",

                            hoursColor: "#f1c152",
                            hoursGlow: "none",

                            daysColor: "#f1c152",
                            daysGlow: "none",

                            // startDate   : "1443657600",
                            endDate: "1445385600",
                            now: "1445748607"
                        });
                    });

            }

        </script>


        <!-- start service section -->
        <section class="service-section section-padding">
            <div class="container">
                <h2 class="section-title">Our Services</h2>

                <div class="section-detail">Enthusiastically underwhelm quality benefits rather than professional
                    outside
                    the box thinking. Distinctively network highly efficient leadership skills
                </div>
                <!-- /.section-detail -->
                <div class="service">
                    <div class="col-md-3 service-details">
                        <div class="pooja pooja1">
                            <div class="head">POOJA</div>
                            <div class="contenet">
                                Assertively redefine end end potentialities for principle-centered synergy. Quickly
                                promote
                                granular.
                            </div>
                            <!-- end content -->
                        </div>
                        <!-- end puga -->

                        <div class="pooja pooja2">
                            <div class="head">MARRIAGE</div>
                            <div class="contenet">
                                Assertively redefine end end potentialities for principle-centered synergy. Quickly
                                promote
                                granular.
                            </div>
                            <!-- end content -->
                        </div>
                        <!-- end puja -->

                        <div class="pooja pooja3">
                            <div class="head">BHOOMI POOJA</div>
                            <div class="contenet">
                                Assertively redefine end end potentialities for principle-centered synergy. Quickly
                                promote
                                granular.
                            </div>
                            <!-- end content -->
                        </div>
                        <!-- end puja -->
                    </div>
                    <!-- end col sm 3 -->

                    <div class="col-md-6">
                        <div class="provide">
                            <div class="circle">
                                <div class="text"><b>WHAT</b>
                                    <br/>
                                    <strong>Services</strong>
                                    <br/>
                                    <b>WE PROVID</b>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="item hand">
                                    <div class="item-element">
                                        <span class="fa fa-certificate"></span>
                                    </div>
                                    <!-- end element -->
                                </div>
                                <!-- end item hand -->
                            </div>
                            <!-- /.col-md-3 -->
                            <div class="col-5">
                                <div class="item hand1">
                                    <div class="item-element">
                                        <span class="fa fa-eye"></span>
                                    </div>
                                    <!-- end element -->
                                </div>
                                <!-- end item hand -->
                            </div>
                            <!-- /.col-md-3 -->
                            <div class="col-5">
                                <div class="item hand2">
                                    <div class="item-element">
                                        <span class="fa fa-heart"></span>
                                    </div>
                                    <!-- end element -->
                                </div>
                                <!-- end item hand -->
                            </div>
                            <!-- /.col-md-3 -->
                            <div class="col-5">
                                <div class="item hand3">
                                    <div class="item-element">
                                        <span class="fa fa-bullhorn"></span>
                                    </div>
                                    <!-- end element -->
                                </div>
                                <!-- end item hand -->
                            </div>
                            <!-- /.col-md-3 -->
                            <div class="col-5">
                                <div class="item hand4">
                                    <div class="item-element">
                                        <span class="fa fa-diamond"></span>
                                    </div>
                                    <!-- end element -->
                                </div>
                                <!-- end item hand -->
                            </div>
                            <!-- /.col-md-3 -->
                            <div class="col-5">
                                <div class="item hand5">
                                    <div class="item-element">
                                        <span class="fa fa-car"></span>
                                    </div>
                                    <!-- end element -->
                                </div>
                                <!-- end item hand -->
                            </div>
                            <!-- /.col-md-3 -->
                        </div>
                        <!-- end provide -->
                    </div>
                    <!-- end col md 6 -->

                    <div class="col-md-3 service-details service-detail-2nd">
                        <div class="darson darson1">
                            <div class="head">DARSHON</div>
                            <div class="contenet">
                                Assertively redefine end end potentialities for principle-centered synergy. Quickly
                                promote
                                granular.
                            </div>
                            <!-- end content -->
                        </div>
                        <!-- end darson -->
                        <div class="darson darson2">
                            <div class="head">PRASHAD</div>
                            <div class="contenet">
                                Assertively redefine end end potentialities for principle-centered synergy. Quickly
                                promote
                                granular.
                            </div>
                            <!-- end content -->
                        </div>
                        <!-- end darson -->
                        <div class="darson darson3">
                            <div class="head">CAR POOJA</div>
                            <div class="contenet">
                                Assertively redefine end end potentialities for principle-centered synergy. Quickly
                                promote
                                granular.
                            </div>
                            <!-- end content -->
                        </div>
                        <!-- end darson -->
                    </div>
                    <!-- end col md 3 -->
                </div>
                <!-- end service -->
            </div>
            <!-- end container -->
        </section>
        <!-- end service section -->

        <!-- start Festival portfolio -->
        <section class="portfolio-section section-padding">
            <h2 class="section-title">Darshan</h2>

            <div class="portfolio gallery-section">
                <div class="container">
                    <div class="isotope-filters portfolio-filter">
                        <button class="button is-checked" data-sort-by="original-order">ALL</button>
                        <button data-filter=".durga-puja">Durga Puja</button>
                        <button data-filter=".holi">Holi</button>
                        <button data-filter=".janmashtami">Janmashtami</button>
                        <button data-filter=".raksha-bandhan">Raksha Bandhan</button>
                    </div>
                    <!-- end isotope filer -->
                </div>
                <!-- end container -->

                <div class="clearfix portfolio-item isotope-items isotope-masonry-items">

                    {% for y in object_list %}
                        <div class="item raksha-bandhan effect-oscar">
                            {% if user.is_authenticated %}
                                {% if y.Display_image %}
                                <img width="800" height="531" src="{{ y.Display_image.url }}"
                                     class="attachment-gallery-thumb wp-post-image" alt="gallery29"/>
                                {% endif %}
                                <div class="item-description">
                                    <div class="item-link">
                                        <a class="boxer" data-boxer-height="500" data-boxer-width="500"
                                           href="{% url 'darshan:details' temp=y.temple2 %}">
                                            <i class="fa plus-sign"></i>
                                        </a>
                                    </div>
                                    <!-- /.item-link -->
                                </div>
                            {% else %}
                                <img width="800" height="531" src="{{ y.Display_image.url }}"
                                     class="attachment-gallery-thumb wp-post-image" alt="gallery29"/>
                                <div class="item-description">
                                    <div class="item-link">
                                        <a class="boxer" data-boxer-height="500" data-boxer-width="500"
                                           href="{% url 'darshan:detail' temp1=y.temple2 %}">
                                            <i class="fa plus-sign"></i>
                                        </a>
                                    </div>
                                    <!-- /.item-link -->
                                </div>
                            {% endif %}
                            <!-- end item description -->
                        </div>
                    {% endfor %}

                </div>
                <!-- /.gallery-item -->
                <a class="read-more" href="{% url 'darshan:alldarshan' %}">View More</a>
                <div class="clearfix"></div>
            </div>
            <!-- end portfolio -->

            <script>
                /*------------------------------------------------------------------------------------------------------------------*/
                /*   isotop.
                /*------------------------------------------------------------------------------------------------------------------*/



                /*-------------------------- Isotope Init --------------------*/
                jQuery(window)
                    .on("load resize", function (e) {

                        var $container = jQuery('.isotope-items'),
                            colWidth = function () {
                                var w = $container.width(),
                                    columnNum = 1,
                                    columnWidth = 0;
                                if (w > 1040) {
                                    columnNum = 5;
                                } else if (w > 850) {
                                    columnNum = 2;
                                } else if (w > 768) {
                                    columnNum = 2;
                                } else if (w > 480) {
                                    columnNum = 2;
                                }
                                columnWidth = Math.floor(w / columnNum);

                                //Isotop Version 1
                                var $containerV1 = jQuery('.isotope-items');
                                $containerV1.find('.item')
                                    .each(function () {
                                        var $item = jQuery(this),
                                            multiplier_w = $item.attr('class')
                                                .match(/item-w(\d)/),
                                            multiplier_h = $item.attr('class')
                                                .match(/item-h(\d)/),
                                            width = multiplier_w ? columnWidth * multiplier_w[1] - 10 : columnWidth,
                                            height = multiplier_h ? columnWidth * multiplier_h[1] * 0.7 : columnWidth * 0.7;
                                        $item.css({
                                            width: width,
                                            height: height,
                                        });
                                    });


                                return columnWidth;
                            },
                            isotope = function () {
                                $container.isotope({
                                    resizable: true,
                                    itemSelector: '.item',
                                    masonry: {
                                        columnWidth: colWidth(),
                                        gutterWidth: 10
                                    }
                                });
                            };
                        isotope();


                        // bind filter button click
                        jQuery('.isotope-filters')
                            .on('click', 'button', function () {
                                var filterValue = jQuery(this)
                                    .attr('data-filter');
                                $container.isotope({
                                    filter: filterValue
                                });
                            });

                        // change active class on buttons
                        jQuery('.isotope-filters')
                            .each(function (i, buttonGroup) {
                                var $buttonGroup = jQuery(buttonGroup);
                                $buttonGroup.on('click', 'button', function () {
                                    $buttonGroup.find('.active')
                                        .removeClass('active');
                                    jQuery(this)
                                        .addClass('active');
                                });
                            });


                        // Masonry Isotope
                        var $masonryIsotope = jQuery('.isotope-masonry-items')
                            .isotope({
                                itemSelector: '.item',
                            });

                        // bind filter button click
                        jQuery('.isotope-filters')
                            .on('click', 'button', function () {
                                var filterValue = jQuery(this)
                                    .attr('data-filter');
                                $masonryIsotope.isotope({
                                    filter: filterValue
                                });
                            });

                        // change active class on buttons
                        jQuery('.isotope-filters')
                            .each(function (i, buttonGroup) {
                                var $buttonGroup = jQuery(buttonGroup);
                                $buttonGroup.on('click', 'button', function () {
                                    $buttonGroup.find('.active')
                                        .removeClass('active');
                                    jQuery(this)
                                        .addClass('active');
                                });
                            });
                    });

            </script>
        </section>
        <!-- end portfoli section  -->

        <!-- start Festival portfolio -->
        <section class="portfolio-section section-padding">
            <h2 class="section-title">Our Festival</h2>

            <div class="portfolio gallery-section">
                <div class="container">
                    <div class="isotope-filters portfolio-filter">
                        <button class="button is-checked" data-sort-by="original-order">ALL</button>
                        <button data-filter=".durga-puja">Durga Puja</button>
                        <button data-filter=".holi">Holi</button>
                        <button data-filter=".janmashtami">Janmashtami</button>
                        <button data-filter=".raksha-bandhan">Raksha Bandhan</button>
                    </div>
                    <!-- end isotope filer -->
                </div>
                <!-- end container -->

                <div class="clearfix portfolio-item isotope-items isotope-masonry-items">
                    <div class="item durga-puja raksha-bandhan effect-oscar">
                        <img width="1000" height="717" src="{% static 'images/09/gallery30.jpg' %}"
                             class="attachment-gallery-thumb wp-post-image" alt="gallery30"/>
                        <div class="item-description">
                            <div class="item-link">
                                <a class="boxer" data-boxer-height="500" data-boxer-width="500"
                                   href="{% static 'images/09/gallery30.jpg' %}">
                                    <i class="fa plus-sign"></i>
                                </a>
                            </div>
                            <!-- /.item-link -->
                        </div>
                        <!-- end item description -->
                    </div>
                    <!-- end item -->

                    <div class="item raksha-bandhan effect-oscar">
                        <img width="800" height="531" src="{% static 'images/09/gallery29.jpg' %}"
                             class="attachment-gallery-thumb wp-post-image" alt="gallery29"/>
                        <div class="item-description">
                            <div class="item-link">
                                <a class="boxer" data-boxer-height="500" data-boxer-width="500"
                                   href="{% static 'images/09/gallery29.jpg' %}">
                                    <i class="fa plus-sign"></i>
                                </a>
                            </div>
                            <!-- /.item-link -->
                        </div>
                        <!-- end item description -->
                    </div>
                    <!-- end item -->
                    <div class="item holi janmashtami effect-oscar">
                        <img width="800" height="532" src="{% static 'images/09/gallery26.jpg' %}"
                             class="attachment-gallery-thumb wp-post-image" alt="gallery26"/>
                        <div class="item-description">
                            <div class="item-link">
                                <a class="boxer" data-boxer-height="500" data-boxer-width="500"
                                   href="{% static 'images/09/gallery26.jpg' %}">
                                    <i class="fa plus-sign"></i>
                                </a>
                            </div>
                            <!-- /.item-link -->
                        </div>
                        <!-- end item description -->
                    </div>
                    <!-- end item -->
                    <div class="item holi effect-oscar">
                        <img width="800" height="532" src="{% static 'images/09/gallery27.jpg' %}"
                             class="attachment-gallery-thumb wp-post-image" alt="gallery27"/>
                        <div class="item-description">
                            <div class="item-link">
                                <a class="boxer" data-boxer-height="500" data-boxer-width="500"
                                   href="{% static 'images/09/gallery27.jpg' %}">
                                    <i class="fa plus-sign"></i>
                                </a>
                            </div>
                            <!-- /.item-link -->
                        </div>
                        <!-- end item description -->
                    </div>
                    <!-- end item -->
                    <div class="item holi effect-oscar">
                        <img width="800" height="532" src="{% static 'images/09/gallery28.jpg' %}"
                             class="attachment-gallery-thumb wp-post-image" alt="gallery28"/>
                        <div class="item-description">
                            <div class="item-link">
                                <a class="boxer" data-boxer-height="500" data-boxer-width="500"
                                   href="{% static 'images/09/gallery28.jpg' %}">
                                    <i class="fa plus-sign"></i>
                                </a>
                            </div>
                            <!-- /.item-link -->
                        </div>
                        <!-- end item description -->
                    </div>
                    <!-- end item -->
                    <div class="item janmashtami effect-oscar">
                        <img width="1024" height="683" src="{% static 'images/09/gallery24.jpg' %}"
                             class="attachment-gallery-thumb wp-post-image" alt="gallery24"/>
                        <div class="item-description">
                            <div class="item-link">
                                <a class="boxer" data-boxer-height="500" data-boxer-width="500"
                                   href="{% static 'images/09/gallery24.jpg' %}">
                                    <i class="fa plus-sign"></i>
                                </a>
                            </div>
                            <!-- /.item-link -->
                        </div>
                        <!-- end item description -->
                    </div>
                    <!-- end item -->
                    <div class="item janmashtami effect-oscar">
                        <img width="640" height="426" src="{% static 'images/09/gallery25.jpg' %}"
                             class="attachment-gallery-thumb wp-post-image" alt="gallery25"/>
                        <div class="item-description">
                            <div class="item-link">
                                <a class="boxer" data-boxer-height="500" data-boxer-width="500" href="{% static 'images/09/gallery25.jpg' %}">
                                    <i class="fa plus-sign"></i>
                                </a>
                            </div>
                            <!-- /.item-link -->
                        </div>
                        <!-- end item description -->
                    </div>
                    <!-- end item -->
                    <div class="item durga-puja effect-oscar">
                        <img width="800" height="533" src="{% static 'images/09/gallery23.jpg' %}"
                             class="attachment-gallery-thumb wp-post-image" alt="gallery23"/>
                        <div class="item-description">
                            <div class="item-link">
                                <a class="boxer" data-boxer-height="500" data-boxer-width="500" href="#">
                                    <i class="fa plus-sign"></i>
                                </a>
                            </div>
                            <!-- /.item-link -->
                        </div>
                        <!-- end item description -->
                    </div>
                    <!-- end item -->
                    <div class="item durga-puja holi effect-oscar">
                        <img width="800" height="535" src="{% static 'images/09/gallery21.jpg' %}"
                             class="attachment-gallery-thumb wp-post-image" alt="gallery21"/>
                        <div class="item-description">
                            <div class="item-link">
                                <a class="boxer" data-boxer-height="500" data-boxer-width="500" href="#">
                                    <i class="fa plus-sign"></i>
                                </a>
                            </div>
                            <!-- /.item-link -->
                        </div>
                        <!-- end item description -->
                    </div>
                    <!-- end item -->
                    <div class="item durga-puja effect-oscar">
                        <img width="800" height="600" src="{% static 'images/09/gallery22.jpg' %}"
                             class="attachment-gallery-thumb wp-post-image" alt="gallery22"/>
                        <div class="item-description">
                            <div class="item-link">
                                <a class="boxer" data-boxer-height="500" data-boxer-width="500" href="#">
                                    <i class="fa plus-sign"></i>
                                </a>
                            </div>
                            <!-- /.item-link -->
                        </div>
                        <!-- end item description -->
                    </div>
                    <!-- end item -->
                </div>
                <!-- /.gallery-item -->
                <a class="read-more" href="#">View More</a>
                <div class="clearfix"></div>
            </div>
            <!-- end portfolio -->

            <script>
                /*------------------------------------------------------------------------------------------------------------------*/
                /*   isotop.
                /*------------------------------------------------------------------------------------------------------------------*/



                /*-------------------------- Isotope Init --------------------*/
                jQuery(window)
                    .on("load resize", function (e) {

                        var $container = jQuery('.isotope-items'),
                            colWidth = function () {
                                var w = $container.width(),
                                    columnNum = 1,
                                    columnWidth = 0;
                                if (w > 1040) {
                                    columnNum = 5;
                                } else if (w > 850) {
                                    columnNum = 2;
                                } else if (w > 768) {
                                    columnNum = 2;
                                } else if (w > 480) {
                                    columnNum = 2;
                                }
                                columnWidth = Math.floor(w / columnNum);

                                //Isotop Version 1
                                var $containerV1 = jQuery('.isotope-items');
                                $containerV1.find('.item')
                                    .each(function () {
                                        var $item = jQuery(this),
                                            multiplier_w = $item.attr('class')
                                                .match(/item-w(\d)/),
                                            multiplier_h = $item.attr('class')
                                                .match(/item-h(\d)/),
                                            width = multiplier_w ? columnWidth * multiplier_w[1] - 10 : columnWidth,
                                            height = multiplier_h ? columnWidth * multiplier_h[1] * 0.7 : columnWidth * 0.7;
                                        $item.css({
                                            width: width,
                                            height: height,
                                        });
                                    });


                                return columnWidth;
                            },
                            isotope = function () {
                                $container.isotope({
                                    resizable: true,
                                    itemSelector: '.item',
                                    masonry: {
                                        columnWidth: colWidth(),
                                        gutterWidth: 10
                                    }
                                });
                            };
                        isotope();


                        // bind filter button click
                        jQuery('.isotope-filters')
                            .on('click', 'button', function () {
                                var filterValue = jQuery(this)
                                    .attr('data-filter');
                                $container.isotope({
                                    filter: filterValue
                                });
                            });

                        // change active class on buttons
                        jQuery('.isotope-filters')
                            .each(function (i, buttonGroup) {
                                var $buttonGroup = jQuery(buttonGroup);
                                $buttonGroup.on('click', 'button', function () {
                                    $buttonGroup.find('.active')
                                        .removeClass('active');
                                    jQuery(this)
                                        .addClass('active');
                                });
                            });


                        // Masonry Isotope
                        var $masonryIsotope = jQuery('.isotope-masonry-items')
                            .isotope({
                                itemSelector: '.item',
                            });

                        // bind filter button click
                        jQuery('.isotope-filters')
                            .on('click', 'button', function () {
                                var filterValue = jQuery(this)
                                    .attr('data-filter');
                                $masonryIsotope.isotope({
                                    filter: filterValue
                                });
                            });

                        // change active class on buttons
                        jQuery('.isotope-filters')
                            .each(function (i, buttonGroup) {
                                var $buttonGroup = jQuery(buttonGroup);
                                $buttonGroup.on('click', 'button', function () {
                                    $buttonGroup.find('.active')
                                        .removeClass('active');
                                    jQuery(this)
                                        .addClass('active');
                                });
                            });
                    });

            </script>
        </section>
        <!-- end portfoli section  -->


        <!-- start recent event -->
        <section class="recent-event container">
            <h2 class="section-title">Recent Event</h2>
            <!-- /.section-title -->
            <div class="section-detail">Enthusiastically underwhelm quality benefits rather than professional outside
                the
                box thinking. Distinctively network highly efficient leadership skills
            </div>
            <!-- /.section-detail -->

            <div class="col-md-4">
                <div class="all-event">
                    <div class="event-post">
                        <div class="feature-img">
                            <img width="300" height="206" src="{% static 'images/09/gallery28-300x200.jpg' %}"
                                 class="attachment-medium wp-post-image" alt="gallery27"/>
                        </div>
                        <!-- end feature img -->

                        <div class="events-date">
                            <span class="event-date">10</span>
                            <br>

                            <span class="event-month">Nov</span>
                        </div>
                        <!-- end event date -->

                        <h2 class="uppercase"><a href="#"
                                                 title="Open Rededication 1">Lorem ipsum dolor</a></h2>
                        <div class="event-period">
                            <div class="row">
                                <p class="col-md-10 col-xs-10 period-session">
                                    <i class="fa fa-clock-o"></i> 10am - 12 am
                                    <br>
                                    <i class="fa fa-map-marker"></i> PO Box 16122, Collins Street </p>

                                <p class="col-md-2 col-xs-2 comments-share">
                                <span class="cmnt"><i class="fa fa-comments-o"></i> <a
                                        href="#">10</a></span>
                                    <i class="fa fa-share-alt">
                                <span class="social-button">
                                    <a href="#" onclick="window.open(this.href); return false;"><i
                                            class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#" title="Share this post on Twitter!" target="_blank"><i
                                            class="fa fa-twitter"></i></a>
                                    <a href="#" title="Share this post on google plus!" target="_blank"><i
                                            class="fa fa-google-plus"></i></a>
                                    <a class="linkedin" href="#" title="Share on LinkedIn" rel="external nofollow"
                                       target="_blank"><i class="fa fa-linkedin"></i></a>
                                    <a class="pinterest" href="#" title="Pinterest" rel="nofollow" target="_blank"><i
                                            class="fa fa-pinterest"></i></a>
                                    </span>
                                    </i>
                                </p>
                                <!-- /.comments-share -->
                            </div>
                            <!-- end row  -->
                        </div>
                        <!-- /.event-period -->

                        <div class="event-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut
                            labore
                        </div>
                    </div>
                    <!-- end event post -->
                </div>
                <!-- end all event  -->
            </div>
            <!-- end col md 4 -->

            <div class="col-md-4">
                <div class="all-event">
                    <div class="event-post">
                        <div class="feature-img">
                            <img width="300" height="206" src="{% static 'images/09/gallery29-300x199.jpg' %}"
                                 class="attachment-medium wp-post-image" alt="event5"/>
                        </div>
                        <!-- end feature img -->

                        <div class="events-date">
                            <span class="event-date">10</span>
                            <br>

                            <span class="event-month">Jan</span>
                        </div>
                        <!-- end event  date-->

                        <h2 class="uppercase"><a href="#" title="Big Event This Year">Lorem ipsum dolor</a></h2>
                        <div class="event-period">
                            <div class="row">
                                <p class="col-md-10 col-xs-10 period-session">
                                    <i class="fa fa-clock-o"></i> 10am - 12 am
                                    <br>
                                    <i class="fa fa-map-marker"></i> PO Box 16122, Collins Street </p>

                                <p class="col-md-2 col-xs-2 comments-share">
                                <span class="cmnt"><i class="fa fa-comments-o"></i> <a
                                        href="#">10</a></span>
                                    <i class="fa fa-share-alt">
                        <span class="social-button">
                            <a href="#" onclick="window.open(this.href); return false;"><i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#" title="Share this post on Twitter!" target="_blank"><i
                                            class="fa fa-twitter"></i></a>
                                    <a href="#" title="Share this post on google plus!" target="_blank"><i
                                            class="fa fa-google-plus"></i></a>
                                    <a class="linkedin" href="#" title="Share on LinkedIn" rel="external nofollow"
                                       target="_blank"><i class="fa fa-linkedin"></i></a>
                                    <a class="pinterest" href="#" title="Pinterest" rel="nofollow" target="_blank"><i
                                            class="fa fa-pinterest"></i></a>
                                    </span>
                                    </i>
                                </p>
                                <!-- /.comments-share -->
                            </div>
                            <!-- end row  -->
                        </div>
                        <!-- /.event-period -->

                        <div class="event-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut
                            labore
                        </div>
                    </div>
                    <!-- end event post  -->
                </div>
                <!-- end all event -->
            </div>
            <!-- end col md 4 -->

            <div class="col-md-4">
                <div class="all-event">
                    <div class="event-post">
                        <div class="feature-img">
                            <img width="300" height="206" src="{% static 'images/09/gallery27-300x200.jpg' %}"
                                 class="attachment-medium wp-post-image" alt="event4"/>
                        </div>
                        <!-- end feature img -->

                        <div class="events-date">
                            <span class="event-date">16</span>
                            <br>

                            <span class="event-month">Dec</span>
                        </div>
                        <!-- end event date -->

                        <h2 class="uppercase"><a href="#" title="Church Evert 2">Lorem ipsum dolor</a></h2>
                        <div class="event-period">
                            <div class="row">
                                <p class="col-md-10 col-xs-10 period-session">
                                    <i class="fa fa-clock-o"></i> 10am - 12 am
                                    <br>
                                    <i class="fa fa-map-marker"></i> PO Box 16122, Collins Street </p>

                                <p class="col-md-2 col-xs-2 comments-share">
                                <span class="cmnt"><i class="fa fa-comments-o"></i> <a
                                        href="#">10</a></span>
                                    <i class="fa fa-share-alt">
                        <span class="social-button">
                            <a href="#" onclick="window.open(this.href); return false;"><i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#" title="Share this post on Twitter!" target="_blank"><i
                                            class="fa fa-twitter"></i></a>
                                    <a href="#" title="Share this post on google plus!" target="_blank"><i
                                            class="fa fa-google-plus"></i></a>
                                    <a class="linkedin" href="#" title="Share on LinkedIn" rel="external nofollow"
                                       target="_blank"><i class="fa fa-linkedin"></i></a>
                                    <a class="pinterest" href="#" title="Pinterest" rel="nofollow" target="_blank"><i
                                            class="fa fa-pinterest"></i></a>
                                    </span>
                                    </i>
                                </p>
                                <!-- /.comments-share -->
                            </div>
                            <!-- end row  -->
                        </div>
                        <!-- /.event-period -->

                        <div class="event-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut
                            labore
                        </div>
                    </div>
                    <!-- end event post -->
                </div>
                <!-- end all evebt -->
            </div>
            <!-- end col md 4 -->

        </section>
        <!-- end recent event -->


        <section class="shedule section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-md-4 ">
                        <h2 class="section-title">Temple Schedule</h2>
                        <!-- /.section-title -->
                        <div class="section-detail">
                            <p>Dramatically strategize economically sound action items for e-business niches. Quickly
                                re-engineer 24/365 potentialities before.</p>
                            <p>Holisticly extend sticky partnerships and cross functional markets. Monotonectally.</p>
                        </div>
                        <!-- end section details -->
                    </div>
                    <!-- end col md 4 -->

                    <div class="col-md-8">

                        <div class="shedule-list col-md-12">
                            <div class="shedule-time shedule-before col-md-6 col-xs-12">
                                <div class="schedule-name col-xs-7">
                                    <h3>Sataya Narayan</h3>
                                    <span>26 June at 6:30 am</span>
                                </div>

                                <div class="clock_counter schedule-time col-xs-5" data-time="04:30:00">

                                </div>
                                <!-- end scedule name -->
                            </div>
                            <!-- end schedule time -->
                            <div class="shedule-time col-md-6 col-xs-12">
                                <div class="schedule-name col-xs-7">
                                    <h3>Sataya Narayan</h3>
                                    <span>12 December at 8.00 AM</span>
                                </div>

                                <div class="clock_counter schedule-time col-xs-5" data-time="13:00:00">

                                </div>
                                <!-- end scedule name -->
                            </div>
                            <!-- end schedule time -->
                            <div class="shedule-time shedule-before col-md-6 col-xs-12">
                                <div class="schedule-name col-xs-7">
                                    <h3>Sataya Narayan</h3>
                                    <span>26 June at 6:30 am</span>
                                </div>

                                <div class="clock_counter schedule-time col-xs-5" data-time="17:00:00">

                                </div>
                                <!-- end scedule name -->
                            </div>
                            <!-- end schedule time -->
                            <div class="shedule-time col-md-6 col-xs-12">
                                <div class="schedule-name col-xs-7">
                                    <h3>Sataya Narayan</h3>
                                    <span>26 June at 6:30 am</span>
                                </div>

                                <div class="clock_counter schedule-time col-xs-5" data-time="18:30:00">

                                </div>
                                <!-- end scedule name -->
                            </div>
                            <!-- end schedule time -->
                            <div class="shedule-time shedule-before shedule-after col-md-6 col-xs-12 no-margin">
                                <div class="schedule-name col-xs-7">
                                    <h3>Sataya Narayan</h3>
                                    <span>26 June at 6:30 am</span>
                                </div>

                                <div class="clock_counter schedule-time col-xs-5" data-time="20:30:00">

                                </div>
                                <!-- end scedule name -->
                            </div>
                            <!-- end schedule time -->
                            <div class="shedule-time shedule-after col-md-6 col-xs-12 no-margin responsive-fix">
                                <div class="schedule-name col-xs-7">
                                    <h3>Sataya Narayan</h3>
                                    <span>26 June at 6:30 am</span>
                                </div>

                                <div class="clock_counter schedule-time col-xs-5" data-time="12:30:00">
                                </div>
                            </div>
                            <!-- /.shedule-list -->

                        </div>
                        <!-- end schedule list -->

                        <div class="sunrise col-md-6">
                            <div class="col-md-5">
                                <img src="{% static 'images/sun.png' %}" alt="sunrise">
                            </div>
                            <!-- end col md 5 -->
                            <div class="col-md-7">
                                <h2>SUNRISE</h2>
                                <span>5.10 AM</span>
                            </div>
                            <!-- end col md 7 -->
                        </div>
                        <!-- end schedule list -->

                        <div class="sunrise sunset col-md-6">
                            <div class="col-md-5">
                                <img src="{% static 'images/sun2.png' %}" alt="sunset">
                            </div>
                            <!-- end col md 5 -->
                            <div class="col-md-7">
                                <h2>SUNSET</h2>
                                <span>6.30 PM</span>
                            </div>
                            <!-- end col md 7 -->
                        </div>
                        <!-- end schedule list -->
                    </div>
                    <!-- end col md 8 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- end shedule  -->

        <script>
            jQuery(document)
                .ready(function () {


                    jQuery('.clock_counter')
                        .each(function () {
                            //22
                            var time = jQuery(this)
                                .data('time');
                            var date = jQuery(this)
                                .data('date');
                            var i = jQuery(this);
                            var init = othermakeCounter(time, date, i);
                        });

                    function othermakeCounter(time, date, i) {

                        var nextDay = "2015/10/26 ";
                        if (date > nextDay) {
                            greeting = date;
                        } else {
                            greeting = nextDay;
                        }


                        var currentTime = greeting + time;
                        jQuery(i)
                            .countdown(currentTime, function (event) {
                                var $this = jQuery(this)
                                    .html(event.strftime('' + '<div class="hour col-xs-6"><h3>%d</h3> <span>Day</span></div>' + '<div class="hour min col-xs-6"><h3>%H</h3> <span>Hours</span></div>'));
                            })
                            .on('finish.countdown', othermakeCounter);
                    }

                });

        </script>


        <!-- start Article section -->
        <section class="sermons-section">
            <div class="container">
                <div class="content-section">
                    <div class="content-wrapper">
                        <h2 class="section-title">Latest Article</h2>

                        <div class="section-detail">Proin eget tortor risus. Cras ultricies ligula sed magna dictum
                            porta.
                            Vivamus suscipit tortor eget felis porttitor volutpat.
                        </div>
                        <!-- /.section-detail -->
                        <div class="sermons">
                            <div class="col-md-6 col-sm-6">
                                <div class="portal">
                                    <img width="150" height="150" src="{% static 'images/09/gallery29.jpg' %}"
                                         class="attachment-thumbnail wp-post-image" alt="gallery26"/>
                                    <div class="content"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit.</a>
                                    </div>
                                    <div class="post-date">
                                        <div class="news-info">
                                            <span class="news-author">
                           <span class="tm"><i class="fa fa-calendar-o"></i> 10 Sep 2015</span> | <span class="usr"><i
                                                    class="fa fa-user"></i> Peace Theme</span>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- end post date -->
                                    <div class="resource">
                                        <a href="https://www.youtube.com/watch?v=nrJtHemSPW4"><i
                                                class="fa fa-video-camera"></i></a>
                                        <a href="https://soundcloud.com/envato/audiojungle-watermark"><i
                                                class="fa fa-headphones"></i></a>
                                        <a href="#"><i class="fa fa-file-text-o"></i></a>
                                        <a href="{% static 'images/09/sample-pdf.pdf' %}"><i
                                                class="fa fa-file-image-o"></i></a>
                                    </div>
                                    <!-- end resource -->
                                </div>
                                <!-- end portal -->
                            </div>
                            <!-- end col md 6 -->
                            <div class="col-md-6 col-sm-6">
                                <div class="portal">
                                    <img width="150" height="150" src="{% static 'images/09/gallery22.jpg' %}"
                                         class="attachment-thumbnail wp-post-image" alt="sermons1"/>
                                    <div class="content"><a href="#">Seamlessly embrace distributed portals whereas
                                        maintainable platforms.</a>
                                    </div>
                                    <div class="post-date">
                                        <div class="news-info">
                                            <span class="news-author">
               <span class="tm"><i class="fa fa-calendar-o"></i> 10 Sep 2015</span> | <span class="usr"><i
                                                    class="fa fa-user"></i> Peace Theme</span>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- end post date -->
                                    <div class="resource">
                                        <a href="https://www.youtube.com/watch?v=nrJtHemSPW4"><i
                                                class="fa fa-video-camera"></i></a>
                                        <a href="https://soundcloud.com/envato/audiojungle-watermark"><i
                                                class="fa fa-headphones"></i></a>
                                        <a href="#"><i class="fa fa-file-text-o"></i></a>
                                        <a href="{% static 'images/09/sample-pdf.pdf' %}"><i
                                                class="fa fa-file-image-o"></i></a>
                                    </div>
                                    <!-- end resource -->
                                </div>
                                <!-- end portal -->
                            </div>
                            <!-- end col md 6 -->
                            <div class="col-md-6 col-sm-6">
                                <div class="portal">
                                    <img width="150" height="150" src="{% static 'images/09/gallery30.jpg' %}"
                                         class="attachment-thumbnail wp-post-image" alt="sermons2"/>
                                    <div class="content"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit. Quasi, neque!</a>
                                    </div>
                                    <div class="post-date">
                                        <div class="news-info">
                                            <span class="news-author">
           <span class="tm"><i class="fa fa-calendar-o"></i> 10 Sep 2015</span> | <span class="usr"><i
                                                    class="fa fa-user"></i> Peace Theme</span>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- end post date -->
                                    <div class="resource">
                                        <a href="https://www.youtube.com/watch?v=nrJtHemSPW4"><i
                                                class="fa fa-video-camera"></i></a>
                                        <a href="https://soundcloud.com/envato/audiojungle-watermark"><i
                                                class="fa fa-headphones"></i></a>
                                        <a href="#"><i class="fa fa-file-text-o"></i></a>
                                        <a href="{% static 'images/09/sample-pdf.pdf' %}"><i
                                                class="fa fa-file-image-o"></i></a>
                                    </div>
                                    <!-- end resource -->
                                </div>
                                <!-- end portal -->
                            </div>
                            <!-- end col md 6 -->
                            <div class="col-md-6 col-sm-6">
                                <div class="portal">
                                    <img width="150" height="150" src="{% static 'images/09/gallery25.jpg' %}"
                                         class="attachment-thumbnail wp-post-image" alt="sermons1"/>
                                    <div class="content"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit. Quis.</a>
                                    </div>
                                    <div class="post-date">
                                        <div class="news-info">
                                            <span class="news-author">
           <span class="tm"><i class="fa fa-calendar-o"></i> 10 Sep 2015</span> | <span class="usr"><i
                                                    class="fa fa-user"></i> Peace Theme</span>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- end post date -->
                                    <div class="resource">
                                        <a href="#"><i class="fa fa-video-camera"></i></a>
                                        <a href="#"><i class="fa fa-headphones"></i></a>
                                        <a href="#"><i class="fa fa-file-text-o"></i></a>
                                        <a href="#"><i class="fa fa-file-image-o"></i></a>
                                    </div>
                                    <!-- end resource -->
                                </div>
                                <!-- end portal -->
                            </div>
                            <!-- end col md 6 -->
                        </div>
                        <!-- end sermons -->
                    </div>
                    <!-- end content wrappwer -->
                </div>
                <!-- end content section -->
            </div>
            <!-- end container -->
        </section>
        <!-- end sermons section -->


        <div class="full-width">
            <div class="row-fluid">
                <div class="content-section">
                    <div class="content-wrapper">
                        <section class="donate section-padding">
                            <div class="container">
                                <div class="row">
                                    <h2 class="section-title">Urgent Causes</h2>

                                    <div class="donate-details">
                                        <div class="goal">
                                            <div class="content">
                                                <h3>82.5%</h3>
                                                <span>Founded</span>
                                            </div>
                                        </div>
                                        <!-- end goal -->

                                        <div class="goal">
                                            <div class="content">
                                                <h3>$ 1650</h3>
                                                <span>Donate</span>
                                            </div>
                                        </div>
                                        <!-- end goal -->

                                        <div class="goal">
                                            <div class="content">
                                                <h3>$ 2000</h3>
                                                <span>Goal</span>
                                            </div>
                                        </div>
                                        <!-- end goal -->

                                        <div class="goal">
                                            <div class="content">
                                                <h3>10</h3>
                                                <span>Donator</span>
                                            </div>
                                        </div>
                                        <!-- end goal -->

                                        <div class="goal">
                                            <div class="content">
                                                <h3>60</h3>
                                                <span>Day to go</span>
                                            </div>
                                        </div>
                                        <!-- end goal -->
                                    </div>
                                    <!-- end donate -->

                                    <div class="found">82.5 % Founded <span> / $ 62,000 To Go</span>
                                    </div>
                                    <div class="page-wrap centered">
                                        <div class="meter red">
                                            <span style="width: 82.5%"></span>
                                        </div>
                                    </div>
                                    <!-- end page wrap -->
                                    <br>
                                    <p class="event-btn-container col-md-12">
                                        <a class="btn custom-btn" href="#">DONATE NOW <i class="fa fa-heart"></i></a>
                                    </p>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.container -->
                        </section>
                    </div>
                    <!-- end content wrapper -->
                </div>
                <!-- end content section -->
            </div>
            <!-- end row fluid -->
        </div>
        <!-- end full width -->
        <!-- start contact us section -->
        <section class="contact-us-section">
            <div class="container">
                <div class="content-section">
                    <div class="content-wrapper">
                        <h2 class="section-title">Send Us a Message</h2>
                        <!-- /.section-title -->
                        <div class="section-detail">Enthusiastically underwhelm quality benefits rather than
                            professional
                            outside the box thinking. Distinctively network highly efficient leadership skills
                        </div>
                        <!-- /.section-detail -->
                        <div role="form" class="wpcf7" id="wpcf7-f7-p367-o1" lang="en-US" dir="ltr">
                            <div class="screen-reader-response"></div>
                            <form action="#" method="post" class="wpcf7-form" novalidate="novalidate">
                                <div style="display: none;">
                                    <input type="hidden" name="_wpcf7" value="7"/>
                                    <input type="hidden" name="_wpcf7_version" value="4.2.2"/>
                                    <input type="hidden" name="_wpcf7_locale" value="en_US"/>
                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f7-p367-o1"/>
                                    <input type="hidden" name="_wpnonce" value="bfbea92b91"/>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="sr-only">Full Name</label>
                                    <span class="wpcf7-form-control-wrap your-name">
                         <input type="text" name="your-name" value="" size="40"
                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control"
                                aria-required="true" aria-invalid="false" placeholder="Full Name"/>
                     </span>
                                </div>
                                <!-- end form group -->

                                <div class="col-md-6 form-group">
                                    <label class="sr-only">Email Address</label>
                                    <span class="wpcf7-form-control-wrap your-email">
                     <input type="email" name="your-email" value="" size="40"
                            class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control"
                            aria-required="true" aria-invalid="false" placeholder="Email Address"/>
                 </span>
                                </div>
                                <!-- end form group -->

                                <div class="form-group col-md-12">
                                    <label class="sr-only">Subject</label>
                                    <span class="wpcf7-form-control-wrap your-subject">
                 <input type="text" name="your-subject" value="" size="40"
                        class="wpcf7-form-control wpcf7-text form-control" aria-invalid="false" placeholder="Subject"/>
             </span>
                                </div>
                                <!-- end form group -->

                                <div class="form-group col-md-12">
                                    <span class="wpcf7-form-control-wrap your-message">
             <textarea name="your-message" cols="40" rows="5"
                       class="wpcf7-form-control wpcf7-textarea form-control input-md" aria-invalid="false"
                       placeholder="YOUR MESSAGE"></textarea>
         </span>
                                </div>
                                <!-- end form group -->

                                <p class="event-btn-container col-md-12">
                                    <input type="submit" value="SEND NOW"
                                           class="wpcf7-form-control wpcf7-submit btn custom-btn"/>
                                </p>
                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                            </form>
                        </div>
                        <!-- end wcpf7 -->
                    </div>
                    <!-- end content wrapping -->
                </div>
                <!-- end content section -->
            </div>
            <!-- end container -->
        </section>
        <!-- end contact us -->


        <!-- start full width -->
        <section class="full-width">
            <div class="row-fluid">
                <div class="content-section">
                    <div class="content-wrapper">
                        <div class="map-container">
                            <div class="googleMaps google-map-container"></div>
                            <div class="contact-info col-md-6 pull-right">
                                <div class="contact-person">
                                    <h2>Contact DivyaKripa</h2>
                                    <div class="info">
                                        <h3>Narendra Shah</h3>
                                        <span><b>TEL:</b> +917948001712</span>
                                        <br>
                                        <span><b>Email:</b> inspire@startinspire.com</span>
                                    </div>
                                    <!-- /.info -->
                                </div>
                                <!-- /.contact-person -->

                                <div class="contact-information">
                                    <h2>Contact Info</h2>
                                    <div class="address">
                                        <div class="media">
                                            <div class="media-left"><i class="fa fa-map-marker base-color"></i>
                                            </div>
                                            <div class="media-body">Memnagar, India
                                                <br/> Ahmedabad, India.
                                                <br>
                                            </div>
                                            <!-- end media body -->
                                        </div>
                                        <!-- end media -->

                                        <div class="media">
                                            <div class="media-left"><i class="fa fa-clock-o base-color"></i>
                                            </div>
                                            <div class="media-body"><strong>Monday-Thursday :</strong> 10:30 am - 07:30
                                                pm
                                                <br/>
                                                <strong>Friday :</strong> 10:30 am - 07:00 pm
                                                <br/>
                                                <strong>Saturday :</strong> 10:30 am - 05:30 pm
                                                <br/>
                                                <strong>Sunday :</strong> Closed
                                            </div>
                                            <!-- end media body -->
                                        </div>
                                        <!-- end media -->
                                    </div>
                                    <!-- /.info -->
                                </div>
                                <!-- /.contact-person -->
                            </div>
                            <!-- end contact info -->
                        </div>
                        <!-- Google Map Section End -->
                    </div>
                    <!-- end content wrapper -->
                </div>
                <!-- end content section -->
            </div>
            <!-- end row fluid -->
        </section>
        <!-- end full width -->

        <div class="clearfix"></div>


    </div>
    <!-- /.peace layout end -->

{% endblock %}

