{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}
{% block content2 %}
    <div id="peace-layout">
        {% include 'accountregistrations/header.html' %}
        <div class="container-fluid" style="padding-top: 15px;">
        <div class="row">
            <div class="col-md-3 col-xs-12 mark_button" style="text-align:center; padding: 15px">
                <span>
                    <a href="{% url 'darshan:temple_add' %}" >
                        <span class="wpcf7-form-control wpcf7-submit btn custom-btn">Add Temples</span>
                    </a>
                </span>
                <br>
                <br>
                <br>
                <br>
                {% for x1 in temples %}
                    <div class="row">
                        <div class="col-md-8 col-xs-8" align="left">
                            <a href="{% url 'darshan:temple_update' s=x1.temple2 %}"
                               class="fa"><span style="font-size: 20px; font-family: Roboto">{{ x1.temple2 }}</span></a>
                        </div>
                        <div class="col-md-4 col-xs-4" align="right">
                            <button type="button" aria-label="Close" class="close launch-modal" data-toggle="modal" data-target="#{{ x1.id }}"
                                    data-backdrop="static">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="modal fade" id={{ x1.id }} role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title"  style="color: red;text-align: center;font-weight: 600;font-size: 40px;
          font-family: sans-serif;">Warning</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p style="text-align: center;">Do you want to delete it,TEMPLE???</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{% url 'darshan:temple_remove' s=x1.temple2 %}">
                                                <button type="button" class="btn btn-default" style="color: black;">Yes</button>
                                            </a>

                                                <button type="button" class="btn btn-default"  data-dismiss="modal" style="color: black;"> No</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                {% endfor %}
            </div>
            {% if temples %}
                <div class="col-md-3 col-xs-12 mark_button" style="text-align: center; padding: 15px;">
                    {# ------------IN MODELS IT IS CALLED DARSHAN-----------  #}
                    <span>
                        <a href="{% url 'darshan:darshan_add' %}">
                            <span class="wpcf7-form-control wpcf7-submit btn custom-btn">
                                Add Temple-Timings
                            </span>
                        </a>
                    </span>
                    <br>
                    <br>
                    <br>
                    <br>
                    {% for x3 in darshans %}
                        <div class="row">
                            <div class="col-md-8 col-xs-8" align="left">
                                <a href="{% url 'darshan:darshan_update' s2=x3.id %}" class="fa">
                                    <span style="font-size: 20px; font-family: Roboto">
                                        {{ x3.rituals }}, {{ x3.timings }}
                                    </span>
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-4" align="right">
                                <button type="button" aria-label="Close" class="close launch-modal" data-toggle="modal" data-target="#{{ x3.id }}"
                                        data-backdrop="static">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="modal fade" id={{ x3.id }} role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;
                                                </button>
                                                <h4 class="modal-title"  style="color: red;text-align: center;font-weight: 600;font-size: 40px;
          font-family: sans-serif;">Warning</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p style="text-align: center;">Do you want to delete it,TEMPLE-TIMINGS???</p>

                                            </div>
                                            <div class="modal-footer">
                                                <a href="{% url 'darshan:darshan_remove' s2=x3.id %}">
                                                    <button type="button" class="btn btn-default" style="color: black;">Yes</button>
                                                </a>

                                                    <button type="button" class="btn btn-default"  data-dismiss="modal" style="color: black;"> No</button>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>
                    {% endfor %}
                </div>
            {% endif %}
            {% if darshans %}
                <div class="col-md-3 col-xs-12 mark_button" style="text-align: center; padding: 15px;">

                    {#-----------IT IS 'PICTURES' IN MODELS---------#}
                    <span>
                        <a href="{% url 'darshan:picture_add' %}">
                            <span class="wpcf7-form-control wpcf7-submit btn custom-btn">
                                Add Darshans
                            </span>
                        </a>
                    </span>
                    <br>
                    <br>
                    <br>
                    <br>
                    {% for x2 in pictures %}
                        <div class="row">
                            <div class="col-md-8 col-xs-8" align="left">
                                <a href="{% url 'darshan:picture_update' s1=x2.id %}" class="fa">
                                    <span style="font-size: 20px; font-family: Roboto">
                                        {{ x2.Ritual }}
                                    </span>
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-4" align="right">
                                <button  type="button" aria-label="Close" class="close launch-modal" data-toggle="modal" data-target="#{{ x2.id }}"
                                        data-backdrop="static">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="modal fade" id={{ x2.id }} role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;
                                                </button>
                                                <h4 class="modal-title"  style="color: red;text-align: center;font-weight: 600;font-size: 40px;
          font-family: sans-serif;">Warning</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p style="text-align: center;">Do you want to delete it,DARSHAN???</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{% url 'darshan:picture_remove' s1=x2.id %}">
                                                    <button type="button" class="btn btn-default" style="color: black;">Yes</button>
                                                </a>

                                                    <button type="button" class="btn btn-default" data-dismiss="modal"style="color: black;"> No</button>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>
                    {% endfor %}
                </div>
            {% endif %}
            {% if pictures %}
                <div class="col-md-3 col-xs-12 mark_button" style="text-align: center; padding: 15px;">
                    <span>
                        <a href="{% url 'darshan:prasad_add' %}">
                            <span class="wpcf7-form-control wpcf7-submit btn custom-btn" style="margin-left: 20px;">
                                Add Products
                            </span>
                        </a>
                    </span>
                    <br>
                    <br>
                    <br>
                    <br>
                    {% for y in products %}
                        <div class="row">
                            <div class="col-md-8 col-xs-8" align="left">
                                <a href="{% url 'darshan:prasad_update' p=y.id %}" class="fa">
                                    <span style="font-size: 20px; font-family: Roboto">
                                        {{ y.Product_Name }}
                                    </span>
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-4" align="right">
                                <button type="button" aria-label="Close" class="close launch-modal" data-toggle="modal" data-target=#{{ y.id }}
                                        data-backdrop="static">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="modal fade" id={{ y.id }} role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;
                                                </button>
                                                <h4 class="modal-title"  style="color: red;text-align: center;font-weight: 600;font-size: 40px;
          font-family: sans-serif;">Warning</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p style="text-align: center;">Do you want to delete it???</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{% url 'darshan:prasad_remove' p=y.id %}">
                                                    <button type="button" class="btn btn-default" style="color: black;">Yes</button>
                                                </a>

                                                    <button type="button" class="btn btn-default"  data-dismiss="modal" style="color: black;"> No</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
    </div>
    </div>
{% endblock  %}