{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content2 %}
    {% block head_extra %}
        {{ pic_add_form.media }}
    {% endblock head_extra %}
{#    <script src="https://code.jquery.com/jquery-2.2.4.min.js"#}
{#            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="#}
{#            crossorigin="anonymous"></script>#}
{#    <script type="text/javascript">#}
{#        $(window).load(function () {#}
{#            $('#errors').modal('show');#}
{#        });#}
{#    </script>#}
{#    {% include 'darshan/error_message.html' %}#}
    <style>
        input, select {
            float: right;
        }
    </style>
    <div id="peace-layout">
        {% include 'accountregistrations/header.html' %}
        <div class="container" style="margin-top: 15px;">
            <div class="row">
                <div class="col-md-12">
                    <h2>Picture Form</h2>
                    <form method="Post" role="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in pic_add_form %}
                            <p>
                                <label for="{{ field.auto_id }}">{{ field.label_tag }}
                                    {% if field.field.required %}
                                        <span class="required" style="color: red;">*</span>
                                    {% endif %}
                                </label>
                                {{ field }}<span
                                    style="color:green;margin-left:5px;">Currently--{{ field.value }}</span>
                            </p>
                            {% if field.errors %}
                                <div class="alert alert-danger">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                            <br>
                        {% endfor %}
                        <p align="center">
                            <button type="submit" value="Save" class="btn btn-primary"
                                    style="width: 100px; background-color: #f1c152;">
                                Save
                            </button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


