{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}
{% load temple_extra %}
{% block head_extra %}
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.css"/>
    <style type="text/css">
        a.fancybox img {
            border: none;
            box-shadow: 0 1px 7px rgba(0, 0, 0, 0.6);
            -o-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            -moz-transform: scale(1, 1);
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
            -o-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }
        a.fancybox:hover img {
            position: relative;
            z-index: 999;
            -o-transform: scale(1.03, 1.03);
            -ms-transform: scale(1.03, 1.03);
            -moz-transform: scale(1.03, 1.03);
            -webkit-transform: scale(1.03, 1.03);
            transform: scale(1.03, 1.03);
        }
    </style>
{% endblock %}
{% block content2 %}
    <div id="peace-layout">
        {% include 'accountregistrations/header.html' %}
        <div class="container" style="margin-top: 15px">
            <div class="row">
                {% for pic in picture %}
                    <div class="col-sm-3" style="text-align:center;">
                        <div class='item'>
                            <img class="fancybox image-container img-responsive roundedCorner"
                                 src="{% if pic.image %}{{ pic.image.url }}{% endif %}" style="max-height: 300px; width: 100%"
                                 alt="Dharshan Image not available">
                            <div class="product-head">
                                <a href="{% url 'darshan:detail' temp1=temple %}">
                                  <h2 class="product-title">
                                    {{ pic.Ritual }}  {{ pic.publish }}
                                  </h2>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.pack.min.js"></script>
        <script type="text/javascript">
            $(function ($) {
                var addToAll = false;
                var gallery = true;
                var titlePosition = 'inside';
                $(addToAll ? 'img' : 'img.fancybox').each(function () {
                    var $this = $(this);
                    var title = $this.attr('title');
                    var src = $this.attr('data-big') || $this.attr('src');
                    var a = $('<a href="#" class="fancybox"></a>').attr('href', src).attr('title', title);
                    $this.wrap(a);
                });
                if (gallery)
                    $('a.fancybox').attr('rel', 'fancyboxgallery');
                $('a.fancybox').fancybox({
                    titlePosition: titlePosition
                });
            });
            $.noConflict();
        </script>
    </div>
{% endblock%}