{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content2 %}
    {% block head_extra %}
        {{ add_form.media }}

    {% endblock head_extra %}
{#    <script src="https://code.jquery.com/jquery-2.2.4.min.js"#}
{#            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="#}
{#            crossorigin="anonymous"></script>#}
{#    <script type="text/javascript">#}
{#        $(window).load(function () {#}
{#            $('#errors').modal('show');#}
{#        });#}
{#    </script>#}
{#    {% include 'darshan/error_message.html' %}#}
    <script type="text/javascript">
        $("document").ready(function () {
            var element = document.getElementById("form1");
            element.classList.remove("fade");
            element.classList.add("active");
        });
        $(document).ready(function () {
            $('.has-popover').popover({'trigger': 'hover'});
        });
    </script>
    <style>
        form #inputButton {
            float: unset !important;
        }

        input {
            float: right !important;
        }

        input[type=text] {
            width: 42%;
        }

        input[type=url] {
            width: 42%;
        }

        input[type=email] {
            width: 42%;
        }

        input[type=file] {
            width: 42%;
        }

        input[type="checkbox"] {
            margin-right: 10px;
        }

        input[type=time] {
            width: 42%;
        }

        input[type=number] {
            width: 42%;
        }

        input[type=password] {
            width: 42%;
        }

        textarea {
            float: right;
        }

        #id_Temple_Name {
            float: right;
        }

    </style>
    <div id="peace-layout">
        {% include 'accountregistrations/header.html' %}
        <div class="container" style="margin-top: 15px;">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <h2 align="center">Temple Form</h2>
                    <form method="Post" role="form" enctype="multipart/form-data">

                        <ul class="nav nav-tabs ">
                            <li class="col-sm-2 col-md-offset-1"><a data-toggle="tab" href="#form1">Basic Information
                                Form<span class="required" style="color: red;"> *</span></a></li>
                            <li class="col-sm-2"><a data-toggle="tab" href="#form2">About Temple Form </a></li>
                            <li class="col-sm-2"><a data-toggle="tab" href="#form3">Temple Facilities Form</a></li>
                            <li class="col-sm-2"><a data-toggle="tab" href="#form4">Visit Temple Form</a></li>
                            <li class="col-sm-2"><a data-toggle="tab" href="#form5">Temple Miscelleneous Form</a></li>
                            <button type="submit" value="Save" class="btn btn-primary" style="background-color: #f1c152;">
                                Save
                            </button>

                        </ul>

                        <!-- tab contents -->
                        <div class="tab-content" id="detail" style="margin: 25px 50px">
                            {% for group in add_form.field_groups %}
                                <div id="{{ group.name }}" class="tab-pane fade">
                                    {% for field in add_form %}
                                        {% if field.name in group.fields %}
                                            <div class="col-md-12">
                                                <label for="{{ field.auto_id }}">{{ field.label_tag }}
                                                    {% if field.field.required %}
                                                        <span class="required" style="color: red;">*</span>
                                                    {% endif %}
                                                </label>
                                                {{ field }}
                                                {% if field.errors %}
                                                    <div class="alert alert-danger">
                                                        {{ field.errors }}
                                                    </div>
                                                {% endif %}
                                                <br>
                                                <br>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <style>
        .wmd-input {
            height: auto;
        }

        .wmd-preview {
            height: auto;
        }

    </style>
{% endblock %}