{% extends "accountregistrations/newbase.html" %}
{% load staticfiles %}
{% load temple_extra %}
{% block content2 %}

    {% block style1 %}
        <style>
            .select2-container--default {
                width: 50% !important;
            }

            .select2-search__field {
                width: 375px !important;
            }

        </style>
    {% endblock %}
    <div id="peace-layout">
        {% include 'accountregistrations/header.html' %}
        <div class="container" style="margin-top:15px;">
            <div class="row">
                <div class="col-md-12" align="right">
                    <p>
                        <label>Name:</label>
                        <span>{{ u.first_name }}</span><span> {{ u.last_name }}</span>
                    </p>
                    {% if v %}
                        <p>
                            {% if v.Mobile_Number %}
                                <label>Mobile Number:</label>
                                <span>{{ v.Mobile_Number }}</span>
                            {% endif %}
                        </p>
                    {% endif %}
                    {% if u.email %}
                        <p>
                            <label>Email:</label>
                            <span>{{ u.email }}</span>
                        </p>
                    {% endif %}
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-12" align="center">
                    <form action="{% url 'darshan:user_profile' %}" method="post" role="form">
                        {% csrf_token %}
                        {{ form.as_table }}
                        <button class="btn btn-primary" type="submit">Add</button>
                    </form>
                    <br>
                </div>
            </div>

            {% if object_list %}

                <p style="text-align: center;"> ADD TIME FROM DROPDOWN </p>
                <div class="row">
                    <div class="col-md-12">
                        <form action="{% url 'darshan:user_profile' %}" method="post"
                              style="width: 100% !important;"> {% csrf_token %}
                            {% for x in object_list %}
                                <div class="row">
                                    <div class="col-md-8 col-offset-4">

                                        <div class="row">
                                            <div class="col-md-2">
                                                <label for="id_Temple1">
                                                    {{ x }}
                                                </label>
                                            </div>
                                            <div class="col-md-2">
                                                <a style="color: white" class="launch-modal btn btn-primary"
                                                   data-toggle="modal" data-modal-id="{{ x|removechar }}"
                                                   data-backdrop="static">
                                                    Delete
                                                </a>
                                                {% include 'darshan/include_delete_modal.html' with var=x|removechar %}
                                            </div>
                                            <div class="col-md-8">
                                                {% for y in x|temple %}
                                                    <td>
                                                        <select class="django-select" name="{{ x }}"
                                                                multiple="multiple">
                                                            {% with temp=y|picture %}
                                                                {% for z in temp %}
                                                                    <option value="{{ z.id }}"
                                                                            {% for x1 in query_list.selected %}
                                                                                {% if x1 == z.id %} selected
                                                                                {% endif %}{% endfor %}>
                                                                        {{ z.Ritual }}
                                                                    </option>
                                                                {% endfor %}
                                                            {% endwith %}
                                                        </select>
                                                    </td>
                                                    <br>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <br>

                                    </div>
                                </div>
                            {% endfor %}
                            <p style="text-align: center">

                                <button class="btn btn-primary" type="submit">Add</button>

                            </p>
                        </form>
                    </div>
                </div>
            {% endif %}
            <hr>
            <div class="row">
                <div class="col-md-12" align="center">
                    <a href="{% url 'darshan:accounts' %}" style="color: white">
                        <button class="btn btn-primary">
                            Ready for Darshan
                        </button>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" align="center">
                    <div class="pagination">
                    <span class="step-links">
                        {% if object_list.has_previous %}
                            <a href="?{{ page_change_var }}=1">&laquo; first</a>
                            <a href="?{{ page_change_var }}={{ object_list.previous_page_number }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
                        {% endif %}
                        <span class="current">
                            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                        </span>
                        {% if object_list.has_next %}
                            <a href="?{{ page_change_var }}={{ object_list.next_page_number }} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
                            <a href="?{{ page_change_var }}={{ object_list.paginator.num_pages }} ">last &raquo;</a>
                        {% endif %}
                    </span>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}