{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}
{% block head_title %}
    500 | {{ block.super }}
{% endblock %}
{% block content2 %}
    <div id="peace-layout">
        {% include 'accountregistrations/header.html' %}
        <div class="container" style="margin-top: 15px; padding-left: 12%">
        <div class="row" style="text-align: center">
            <div class="col-md-12" align="center">
                <br>
			    <h1> Oops! Error 500</h1>
			    <h2 class="error_handler">Seems like an internal server error!</h2>
			    <h2 style="text-align: center;padding-bottom: 40px;">
			        <p>However, Thanks for stopping by! Kindly <a href="/">report</a> us the error so that we can fix it.
			          You can return to the landing page <a href="/#contact">here</a>.</p>
			        <p>&mdash; <a href="https://www.divyakripa.com/">Divya Kripa</a></p>
			    </h2>
			</div>
        </div>
</div>
    </div>
{% endblock %}

