{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}
{% load temple_extra %}
{% block content2 %}
    <div id="peace-layout">
        {% include 'accountregistrations/header.html' %}
        {#        <div class="container-fluid" style="margin-top: 15px;">#}
        {#            <div class="row">#}
        {#                <div class="col-md-12 col-xs-12">#}
        {#                    <form method="GET" action="" style="width: unset!important; float: right">#}
        {#                        <input type="text" name="q" class="textbox" placeholder="Search Temples"#}
        {#                               value="{{ request.GET.q }}">#}
        {#                        <input title="Search" value="Search" type="submit" class="button">#}
        {#                    </form>#}
        {#                </div>#}
        {#            </div>#}
        {#            <hr>#}
        {#            <div class="row">#}
        {#                <div class="col-md-10">#}
        {#                            {% if list %}#}
        {#                                {% for x in list %}#}
        {#                                    {% for y in x|product %}#}
        {#                                <div class="col-sm-3 col-xs-6">#}
        {#                                    <a href="{% url 'shop:details1' pk=y.id %}">#}
        {#                                        <div class="thumbnail" style="text-align: center;color: black;">#}
        {#                                            <img {% if y.Photo %} src="{{ y.Photo.url }}" {% else %}#}
        {#                                                                  alt="{{ y.Product_Name }}" {% endif %}>#}
        {#                                            <h3>{{ y.Product_Name }}</h3>#}
        {#                                            <h4>{{ y.Price }}</h4>#}
        {#                                        </div>#}
        {#                                    </a>#}
        {#                                </div>#}
        {#                            {% endfor %}#}
        {#                        {% endfor %}#}
        {#                    {% else %}#}
        {#                        {% for x in b %}#}
        {#                            {% for y in x|product %}#}
        {#                                <div class="col-sm-3 col-xs-12">#}
        {#                                    <a href="{% url 'shop:details1' pk=y.id %}">#}
        {#                                        <div class="thumbnail" style="text-align: center;color: black;">#}
        {#                                            <img {% if y.Photo %} src="{{ y.Photo.url }}" {% else %}#}
        {#                                                                  alt="{{ y.Product_Name }}" {% endif %}>#}
        {#                                            <h3>{{ y.Product_Name }}</h3>#}
        {#                                            <h4> {{ y.Price }}</h4>#}
        {#                                        </div>#}
        {#                                    </a>#}
        {#                                </div>#}
        {#                            {% endfor %}#}
        {#                        {% endfor %}#}
        {#                    {% endif %}#}
        {#                </div>#}
        {#                <div class="col-md-2">#}
        {#                    <form method="Post" role="form" style="width: 100% !important; padding: 20px;">#}
        {#                        <h4>Filter By Temples</h4>#}
        {#                        {% csrf_token %}#}
        {#                        <label for="id_temple0">Temples:</label><br>#}
        {#                        {% for x in query_list %}#}
        {#                            <input type="checkbox" name="temples" class="id_temple0" value="{{ x.id }}"#}
        {#                                   style="float: left !important;">{{ x }}<br>#}
        {#                        {% endfor %}#}
        {#                        <br>#}
        {#                        <button class="btn btn-primary" type="submit">Apply</button>#}
        {#                    </form>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        <!-- shop start -->
        <section id="shop" class="woocommerce blog-page-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 md-bm50">
                        <div id="primary-area">
                            <div class="col-md-12">
                                <div class="clearfix shop-short">
                                    <div class="col-sm-5 p0"> <!-- this class is end in result-count.php -->
                                        <p class="woocommerce-result-count">Showing 1–6 of 23 results</p>
                                    </div><!-- end col sm 5 -->

                                    <div class="col-sm-7 p0">
                                        <form class="woocommerce-ordering" method="get">
                                            <select name="orderby" class="orderby pull-right">
                                                <option value="menu_order" selected="selected">Default sorting</option>
                                                <option value="popularity">Sort by popularity</option>
                                                <option value="rating">Sort by average rating</option>
                                                <option value="date">Sort by newness</option>
                                                <option value="price">Sort by price: low to high</option>
                                                <option value="price-desc">Sort by price: high to low</option>
                                            </select>
                                            <input type="hidden" name="post_type" value="product">
                                        </form>
                                    </div>  <!-- end col sm 7 -->
                                </div><!-- end shop short -->
                            </div><!-- end col sm 12 -->

                            <div class="products product-lists margin-minus-15 clearfix">
                                {% if b %}
                                    {% for x in b %}
                                        {% for y in x|product %}
                                            <div class="col-sm-4 col-xs-6 xs-full">
                                                <div class="product-item clearfix">
                                                    <div class="product-image">
                                                        <a class="thumb" href="{% url 'shop:details1' pk=y.id %}">
                                                        <img width="300" height="300" {% if y.Photo %}
                                                             src="{{ y.Photo.url }}" {% else %}
                                                             alt="{{ y.Product_Name }}" {% endif %}
                                                             class="attachment-shop_catalog wp-post-image" style="min-height: 300px !important; max-height: 300px !important;">
                                                        </a>
                                                        <a href=""
                                                           class="quick-view boxer fs-lightbox-element"
                                                           title="{{ y.Product_Name }}"><span>Quick View</span></a>
                                                    </div><!-- end product image -->
                                                    <div class="product-description">
                                                        <div class="product-head">
                                                            <h4 class="product-title">
                                                                <a href="{% url 'shop:details1' pk=y.id %}">{{ y.Product_Name }}</a>
                                                            </h4>

                                                            <div class="star-rating" title="Rated 4.50 out of 5">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div><!-- end star rating -->
{#                                                            <span class="price product-price"><del><span#}
{#                                                                    class="amount">$15.00</span></del> #}
                                                                <ins><span class="amount">&#8377;{{ y.Price }}</span></ins>
                                                        </div><!-- end product head -->

                                                        <div class="product-action">
                                                            <a href="{% url 'shop:details1' pk=y.id %}" rel="nofollow"
                                                               class="btn add-to-cart  add_to_cart_button product_type_simple"><i
                                                                    class="fa fa-shopping"></i> View Product </a>
                                                        </div><!-- end product action -->
                                                    </div><!-- end product descr -->
                                                </div><!--  /.product-item -->
                                            </div><!-- end col sm 4 -->
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                            </div><!-- end product list-->

                        </div><!-- end primary area -->
                    </div><!-- col-md-9 md-bm50 -->


                    <div class="col-md-3 blog-sidebar">
                        <aside id="search-2" class="widget widget_search"><h2 class="widget-title">Search Now</h2>
                            <div class="blog-search-bar">
                                <form method="get" class="form-search" action="#">
                                    <div class="input-append">
                                        <input type="search" class="form-control search-field"
                                               placeholder="Type and Hit Enter ..." value="" name="s"
                                               title="Search for:">
                                        <button type="submit" class="add-on"><i class="fa fa-search"></i></button>
                                    </div><!-- end input append -->
                                </form>
                            </div><!-- end blog search -->
                        </aside><!-- end widget -->

                        <aside id="ccr_popular_posts-4" class="widget widget_ccr_popular_posts"><h2
                                class="widget-title">Recent Post</h2>
                            <ul class="popular-post">

                                <li>
                                    <img width="150" height="150" src=""
                                         class="attachment-thumbnail wp-post-image" alt="02">
                                    <a href="#" title="Collaboratively coordinate.">
                                        Collaboratively coordinate.
                                    </a> <br>
                                    <i class="fa fa-calendar-o"></i>
                                    <time class="post-meta-element" datetime="2015-09-10">10 September, 2015</time>
                                </li>

                                <li>
                                    <img width="150" height="150" src=""
                                         class="attachment-thumbnail wp-post-image" alt="03" data-pin-nopin="true"> <a
                                        href="#" title="Quickly develop exceptional">Quickly develop exceptional</a>
                                    <br>
                                    <i class="fa fa-calendar-o"></i>
                                    <time class="post-meta-element" datetime="2015-09-10">10 September, 2015</time>
                                </li>

                                <li>
                                    <img width="150" height="150" src=""
                                         class="attachment-thumbnail wp-post-image" alt="01"> <a href="#"
                                                                                                 title="Why you need Peace WordPress Theme?">Why
                                    you need Peace WordPress Theme?</a> <br>
                                    <i class="fa fa-calendar-o"></i>
                                    <time class="post-meta-element" datetime="2015-09-10">10 September, 2015</time>
                                </li>

                                <li>
                                    <img width="150" height="150" src=""
                                         class="attachment-thumbnail wp-post-image" alt="05"> <a href="#"
                                                                                                 title="What You Know About Life">What
                                    You Know About Life</a> <br>
                                    <i class="fa fa-calendar-o"></i>
                                    <time class="post-meta-element" datetime="2015-09-07">7 September, 2015</time>
                                </li>
                            </ul><!-- /.latest-post -->
                        </aside><!-- end widget -->

                        <aside id="tag_cloud-3" class="widget widget_tag_cloud"><h2 class="widget-title">Post Cloud</h2>
                            <div class="tagcloud">
                                <a href="#" class="tag-link-37" title="1 topic" style="font-size: 8pt;">Christian</a>
                                <a href="#" class="tag-link-38" title="1 topic" style="font-size: 8pt;">Hindu</a>
                                <a href="#" class="tag-link-32" title="1 topic" style="font-size: 8pt;">Magazine</a>
                                <a href="#" class="tag-link-36" title="1 topic" style="font-size: 8pt;">Muslims</a>
                                <a href="#" class="tag-link-31" title="1 topic" style="font-size: 8pt;">News</a>
                                <a href="#" class="tag-link-34" title="1 topic" style="font-size: 8pt;">SEO</a>
                                <a href="#" class="tag-link-35" title="1 topic" style="font-size: 8pt;">Themes</a>
                                <a href="#" class="tag-link-33" title="1 topic" style="font-size: 8pt;">WordPress</a>
                            </div><!-- end tag cloud -->
                        </aside><!-- end widget -->

                        <aside id="categories-2" class="widget widget_categories"><h2 class="widget-title">
                            Categories</h2>
                            <ul>
                                <li class="cat-item cat-item-1"><a href="{% url 'darshan:home' %}">Darshan</a>
                                </li>
                            </ul>
                        </aside><!-- end widget -->
                    </div><!-- sidebar -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- end shop -->

    </div>
{% endblock %}