{% extends 'accountregistrations/newbase.html' %}
{% block content2 %}
    <div id="peace-layout">
    {% include 'accountregistrations/header.html' %}
        <div class="container" style="margin-top: 15px">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 mark_button">
                    PRODUCTS
                    <span>
                        <a href="{% url 'shop:product_add' %}">
                            <button class="btn btn-primary" style="margin-left: 20px;">
                                Add PRODUCTS<strong> +</strong>
                            </button>
                        </a>
                    </span>
                    <br><br><br><br>
                    {% for y in items %}

                        <div class="col-md-12">
                            <div class="col-md-6">

                        
                            <a href="{% url 'shop:product_update' p=y.id %}" style="color: black; font-family: sans-serif">
                               <h4> {{ y.Product_Name }}, {{ y.Temple_Name }} </h4>
                            </a>
                                
                            </div>

                            <div class="col-md-6">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#myModal5"
                                        data-backdrop='static'>
                                    Remove
                                </button>
                                <div class="modal fade" id="myModal5" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;
                                                </button>
                                                <h4 class="modal-title">Warning</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Do you want to delete it???</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{% url 'shop:product_remove' p=y.id %}">
                                                    <button type="button" class="btn btn-default">Yes</button>
                                                </a>
                                                <a href="{% url 'shop:seller_profile' %}">
                                                    <button type="button" class="btn btn-default"> No</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal -->

                            <br>
                            <br>
                            <hr>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}