{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}
{% block content2 %}
    <div id="peace-layout">
        {% include 'accountregistrations/header.html' %}
        <div class="container" style="margin-top: 15px;">
            <div class="row" style="text-align: center">
                <div class="col-md-12" align="center">
                    <br>
                    <h1 style="color: green;">
                        We've emailed you instructions for setting your password, if an account exists with the email
                        you entered.
                        You should receive them shortly.
                    </h1>
                    <h2 style="color: red;padding-bottom: 40px;">
                        If you don't receive an email, please make sure you've entered the address you registered with,
                        and check your spam folder.
                    </h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

   