{% extends 'accountregistrations/newbase.html' %}
{% load staticfiles %}
{% block content2 %}
    <div id="peace-layout">
        {% include 'accountregistrations/header.html' %}
        <div class="container" style="margin-top: 15px;">
            <div class="row">
                <div class="col-md-12">
                    {% if validlink %}
                        <h3 style="text-align: center;">Change password</h3>
                        <hr>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <hr>
                            <p style="text-align: center">
                                <button type="submit" class="btn btn-primary">Change password</button>
                            </p>
                        </form>
                    {% else %}
                        <p>
                            The password reset link was invalid, possibly because it has already been used.
                            Please request a new password reset.
                        </p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}

